[submodule "p5/design-patterns"]
	path = p5/design-patterns
	url = git@github.com:yusukebe/p5-design-patterns.git
[submodule "raku/design-pattern"]
	path = raku/design-pattern
	url = git@github.com:yusukebe/p6-design-patterns.git
[submodule "ruby/design-pattern"]
	path = ruby/design-pattern
	url = git@github.com:yusukebe/ruby-design-patterns.git
